<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<a class="back-button" href="/">Back</a>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Account No</th>
                <th>IFSC Code</th>
                <th>MICR Code</th>
                <th>Issue Date</th>
                <th>Bearer Name</th>
                <th>Amount</th>
                <th>Approval Status</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.account_number }}</td>
                <td>{{ row.ifsc_code }}</td>
                <td>{{ row.micr_code }}</td>
                <td>{{ row.issue_date }}</td>
                <td>{{ row.bearer_name }}</td>
                <td>{{ row.amount }}</td>
                <td>{{ row.approval_status }}</td>
                <td>{{ row.reason }}</td>
            </tr>
            {% endfor %}
            <!-- Table rows will be dynamically added here -->
        </tbody>
    </table>
</div>
</body>
</html>
